<?xml version="1.0"?>
<launch>
  <!-- ############################### -->
  <!-- ##### SPECIFYING ARGUMENTS #### -->
  <!-- ############################### -->
  <arg name="robot_ip" default="192.168.1.101" doc="IP of the RSI interface on the controller"/>
  <arg name="robot_port" default="49152" doc="UDP port the RSI interface on the controller is configured to use"/>
  <!-- name of the ros_control controllers (see below) -->
  <arg name="js_ctrlr" value="joint_state_controller" />
  <arg name="pos_ctrlr_name" value="position_trajectory_controller" />

  <!-- ####################################### -->
  <!-- ##### LOADING PARAMETERS TO SERVER #### -->
  <!-- ####################################### -->  
  <!-- other ROS-Industrial nodes may expect the 'robot_ip_address' parameter to be present -->
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />  
  <!-- the hardware_interface node expects its parameters in the 'rsi' namespace -->
  <rosparam subst_value="true">
    rsi:
      listen_address: 192.168.1.103
      listen_port: 49152
  </rosparam>
  <!-- Putting /controller_joint_names on param server -->
  <rosparam file="$(find kr210_pen_drivers)/config/kr210_controller_joint_names.yaml" />
  <!-- Putting /robot_description on param server  -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find kr210_pen_support)/urdf/kr210_pen.xacro'"/>
  <!-- Putting hardware controller settings on param server -->
  <rosparam file="$(find kr210_pen_drivers)/config/kr210_hardware_controllers.yaml"/>

  <!-- ######################### -->
  <!-- ##### STARTING NODES #### -->
  <!-- ######################### -->
  <!-- Start Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
  <!-- Start Kuka Hardware Interface -->
  <node name="kuka_hardware_interface" pkg="kuka_rsi_hw_interface" type="kuka_hardware_interface_node" respawn="true" output="screen" />
  <!-- Start the controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="$(arg pos_ctrlr_name) $(arg js_ctrlr) --shutdown-timeout 1" respawn="true" output="screen" />
</launch>
